# App
NODE_ENV=production
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Bot Info
NEXT_PUBLIC_BOT_TITLE=LolaBot
NEXT_PUBLIC_BOT_DESCRIPTION=Immigration Advisor USA (EB2 NIW, EB1A, O1)
NEXT_PUBLIC_BOT_SHORTNAME=LolaBot
NEXT_PUBLIC_INITIAL_GREETING="Hi, I'm Real Vision AI Assistant. How can I help you?"

# Webhooks
WEBHOOK_OUTGOING_URL=
WEBHOOK_SIGNATURE_SECRET=

# MongoDB
MONGODB_URI=
MONGODB_DB=lolabot

# Storage
STORAGE_PROVIDER=S3 # or R2
S3_BUCKET=
S3_REGION=
S3_ENDPOINT=
R2_PUBLIC_URL= # Optional: Public development URL for R2 (e.g., https://pub-xxx.r2.dev)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# CORS
EMBED_ALLOWED_ORIGINS=

NEXT_PUBLIC_BOT_SLUG=immigration-advisor
